
<div class="row">
{{#if allpost }}

    <div class="col-6">
    {{#each allpost}}
                <h1><a href='/post/{{this._id}}'>{{this.title}}</a></h1>
                <p>{{this.body}}</p> 
                <div class="text-muted">published by {{this.author}}</div>
                <div class="dropdown-divider"></div>
    {{/each}}
    </div>

    {{else}}
    <h1>there are no post</h1>
{{/if}}
</div>